@charset "UTF-8";
/* Fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
/* Aplicar la fuente a todos los elementos */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; /* Agregamos la fuente Lato a todos los elementos */
}

ul ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Header */
.list-style-type {
  list-style-type: none;
}

header {
  position: relative;
  color: white;
  padding: 1rem;
  align-items: center;
  font-size: 50px;
}

header form.search-form {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

header form input[type=search] {
  width: 200px;
  height: 30px;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  gap: 30px;
}

header nav div a {
  gap: 50px;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 50px;
}

header div img {
  display: flex;
  max-width: 300px;
  max-height: 300px;
}

header button {
  height: 100px;
  width: 200px;
  font-size: 35px;
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
}

/* body iconos */
.row {
  padding-bottom: 25px;
}

.sponsors {
  max-width: 200px;
  max-height: 50px;
}

main section ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 150px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 20px;
  opacity: 80%;
  font-size: larger;
  padding-top: 50px;
}

footer ul {
  margin-top: 10px;
}

footer ul li {
  margin-top: 20px;
}

/* MAIN */
.main-somos {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  padding-bottom: 300px;
}

.div-somos {
  margin-top: 30px;
  margin-bottom: 30px;
}

.h2-somos {
  font-size: 50px;
  margin-bottom: 30px;
}

.p-somos {
  padding-bottom: 30px;
  background: none;
  border: none;
  font-size: 25px;
  max-width: 500px;
  color: white;
}

.img-somos {
  max-width: 600px;
  max-height: 600px;
}

.main-equipos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.h2-equipos {
  color: white;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.div-equipos {
  padding: 20px;
  text-align: center;
}

.div-equipos img {
  padding: 5px;
  max-width: 300px;
  min-height: 300px;
}

.p-equipos {
  width: 200px;
  color: white;
  font-size: larger;
}

.div-contacto {
  margin-top: 50px;
  margin-bottom: 30px;
  max-width: 500px;
  font-size: xx-large;
}

/* MEDIA QUERIES PARA RESPONSIVE */
@media (max-width: 768px) {
  /* Header */
  header {
    flex-direction: column;
    text-align: center;
  }
  header ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  header button {
    margin-top: 10px;
  }
  /* body iconos */
  main section ul {
    flex-wrap: wrap;
    padding: 50px;
  }
  /* MAIN */
  .main-somos {
    flex-direction: column;
  }
  .h2-somos {
    font-size: 40px;
  }
  .p-somos {
    font-size: 20px;
  }
  .img-somos {
    max-width: 100%;
    max-height: 100%;
  }
  .main-equipos {
    padding: 50px;
  }
  .h2-equipos {
    font-size: 40px;
  }
  .p-equipos {
    font-size: 20px;
  }
  .div-contacto {
    font-size: 30px;
  }
}
/* fondos de pantalla */
.body-index {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-index::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/frankkaster-culturageek.com_.ar_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Ajusta el valor de blur según el desenfoque que desees */
  z-index: -1;
}

.body-somos {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-somos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/34cF3rgsl_2000x1500__1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(0.2); /* Ajusta el valor de blur según el desenfoque que desees */
  z-index: -1;
}

.body-equipos {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-equipos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/KW726BINKBCMPEUPRVMX2TQACM.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(0.4); /* Ajusta el valor de blur según el desenfoque que desees */
  z-index: -1;
}

.body-oficinas {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-oficinas::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/AGS2022-booth-9z-3-culturageek.com_.ar-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(0.4); /* Ajusta el valor de blur según el desenfoque que desees */
  z-index: -1;
}

.body-contacto {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-contacto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px) brightness(0.4); /* Ajusta el valor de blur según el desenfoque que desees */
  z-index: -1;
}

/* Estilos para el formulario de contacto */
.formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: start;
}

.formulario-contacto label {
  font-size: 18px;
  color: white;
}

.formulario-contacto input[type=text],
.formulario-contacto input[type=email],
.formulario-contacto input[type=tel],
.formulario-contacto textarea {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.formulario-contacto textarea {
  resize: vertical;
}

.formulario-contacto input[type=submit],
.formulario-contacto input[type=reset] {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  background-color: blueviolet;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.formulario-contacto input[type=submit]:hover,
.formulario-contacto input[type=reset]:hover {
  background-color: #8a2be2;
}

.div-contacto2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-form {
  display: flex;
  gap: 10px;
}

.search-form input[type=search] {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid blueviolet;
  border-radius: 5px;
}

.search-form input[type=submit] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Cambiar el color del botón cuando se le pasa el cursor por encima */
.search-form input[type=submit]:hover {
  background-color: #8a2be2;
}

/*# sourceMappingURL=styles.css.map */
