/* body iconos */

.row {
    padding-bottom: 25px;
  }
  
  .sponsors {
    max-width: 200px;
    max-height: 50px;
  }
  
  main section ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 150px;
  }
  